<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workstudy.mapper.ApplyJobMapper">
    <resultMap id="BaseResultMap" type="com.workstudy.entity.ApplyJob">
        <!--@mbg.generated-->
        <!--@Table apply_job-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="student_id" jdbcType="INTEGER" property="studentId"/>
        <result column="resume_id" jdbcType="INTEGER" property="resumeId"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="recruit_id" jdbcType="INTEGER" property="recruitId"/>
        <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime"/>
        <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="company_check" jdbcType="TINYINT" property="companyCheck"/>
        <result column="student_check" jdbcType="TINYINT" property="studentCheck"/>
        <result column="teacher_check" jdbcType="TINYINT" property="teacherCheck"/>
        <result column="student_comment" jdbcType="VARCHAR" property="studentComment"/>
        <result column="student_comment_star" jdbcType="INTEGER" property="studentCommentStar"/>
        <result column="company_comment" jdbcType="VARCHAR" property="companyComment"/>
        <result column="company_comment_star" jdbcType="INTEGER" property="companyCommentStar"/>
        <result column="contract_id" jdbcType="INTEGER" property="contractId"/>
    </resultMap>
    <resultMap id="BaseResultMapTwo" type="com.workstudy.entity.ApplyJob">
        <!--@mbg.generated-->
        <!--@Table apply_job-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="student_id" jdbcType="INTEGER" property="studentId"/>
        <result column="resume_id" jdbcType="INTEGER" property="resumeId"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="recruit_id" jdbcType="INTEGER" property="recruitId"/>
        <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime"/>
        <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="company_check" jdbcType="TINYINT" property="companyCheck"/>
        <result column="student_check" jdbcType="TINYINT" property="studentCheck"/>
        <result column="teacher_check" jdbcType="TINYINT" property="teacherCheck"/>
        <result column="student_comment" jdbcType="VARCHAR" property="studentComment"/>
        <result column="student_comment_star" jdbcType="INTEGER" property="studentCommentStar"/>
        <result column="company_comment" jdbcType="VARCHAR" property="companyComment"/>
        <result column="company_comment_star" jdbcType="INTEGER" property="companyCommentStar"/>
        <result column="contract_id" jdbcType="INTEGER" property="contractId"/>
        <association property="student" javaType="com.workstudy.entity.Student" column="student_id"
                     select="com.workstudy.mapper.StudentMapper.queryStudentById">
        </association>
    </resultMap>
    <resultMap id="BaseResultMapThree" type="com.workstudy.entity.ApplyJob">
        <!--@mbg.generated-->
        <!--@Table apply_job-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="student_id" jdbcType="INTEGER" property="studentId"/>
        <result column="resume_id" jdbcType="INTEGER" property="resumeId"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="recruit_id" jdbcType="INTEGER" property="recruitId"/>
        <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime"/>
        <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="company_check" jdbcType="TINYINT" property="companyCheck"/>
        <result column="student_check" jdbcType="TINYINT" property="studentCheck"/>
        <result column="teacher_check" jdbcType="TINYINT" property="teacherCheck"/>
        <result column="student_comment" jdbcType="VARCHAR" property="studentComment"/>
        <result column="student_comment_star" jdbcType="INTEGER" property="studentCommentStar"/>
        <result column="company_comment" jdbcType="VARCHAR" property="companyComment"/>
        <result column="company_comment_star" jdbcType="INTEGER" property="companyCommentStar"/>
        <result column="contract_id" jdbcType="INTEGER" property="contractId"/>
        <association property="student" javaType="com.workstudy.entity.Student" column="student_id"
                     select="com.workstudy.mapper.StudentMapper.queryStudentById">
        </association>
        <association property="recruit" javaType="com.workstudy.entity.Recruit" column="recruit_id"
                     select="com.workstudy.mapper.RecruitMapper.queryRecruitById">
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, student_id, resume_id, company_id, recruit_id, apply_time, reply_time, reason,
        company_check, student_check, teacher_check, student_comment, student_comment_star,
        company_comment, company_comment_star, contract_id
    </sql>
    <!--公司分页查询所有学生对工作的申请  未审核-->
    <select id="queryApplyJobAllUncheckByCompany" resultMap="BaseResultMapThree">
        select * from apply_job
        left join student on student.id = apply_job.student_id
        left join recruit on recruit.id = apply_job.recruit_id
        <where>
            <if test="status != null">
                apply_job.company_check = #{status,jdbcType=INTEGER} and
            </if>
            <if test="type != null">
                apply_job.company_id = #{type,jdbcType=INTEGER} and
            </if>
            <if test="condition != null and condition != ''">
                student.name like concat('%',#{condition,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>
    <!--查询正在该公司工作的学生-->
    <select id="queryApplyJobAllWork" resultMap="BaseResultMapThree">
        select * from apply_job
        left join student on student.id = apply_job.student_id
        left join recruit on recruit.id = apply_job.recruit_id
        <where>
            <if test="status != null">
                apply_job.teacher_check = #{status,jdbcType=INTEGER} and
            </if>
            <if test="type != null">
                apply_job.company_id = #{type,jdbcType=INTEGER} and
            </if>
            <if test="condition != null and condition != ''">
                student.name like concat('%',#{condition,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>
    <!--查询所有已完成工作的学生-->
    <select id="queryFinishApplyJob" resultMap="BaseResultMapThree">
        select * from apply_job
        left join student on student.id = apply_job.student_id
        left join recruit on recruit.id = apply_job.recruit_id
        <where>
            <if test="type != null">
                apply_job.company_id = #{type,jdbcType=INTEGER} and
            </if>
            <if test="condition != null and condition != ''">
                student.name like concat('%',#{condition,jdbcType=VARCHAR},'%') and
            </if>
            apply_job.student_check = 6 or apply_job.company_check = 3
        </where>
    </select>
</mapper>