<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workstudy.mapper.StudentApplyTeacherMapper">
  <resultMap id="BaseResultMap" type="com.workstudy.entity.StudentApplyTeacher">
    <!--@mbg.generated-->
    <!--@Table student_apply_teacher-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="student_number" jdbcType="VARCHAR" property="studentNumber" />
    <result column="teacher_number" jdbcType="VARCHAR" property="teacherNumber" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="reply_date" jdbcType="TIMESTAMP" property="replyDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, student_number, teacher_number, `status`, reason, apply_date, reply_date
  </sql>
</mapper>